periodix-backend/package-lock.json
/periodix-backend/node_modules
periodix-frontend/package-lock.json
example_week_lessons.json
example_untis_package_usage.ts
#/periodix-backend/prisma/migrations
.env
periodix-frontend/.env.example
.env.save
handy-commands.txt
branding/Inter_28pt-SemiBold.ttf
public/test-empty-timetable.html
example_holiday_data.json
periodix-backend/src/scripts/extractExams.ts
example_exams.json

generated
periodix-backend/fetch_timetable.ts
periodix-backend/timetable.json
periodix-frontend/src/utils/timetable/lessonMerging.test.ts
